body {
  width:700px;
  overflow-x:hidden;
}

.favicon {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
}

.table td{
  font-size: 11px;
}

#status {
  margin-bottom:2px;
}

legend {
  margin-bottom: 20px;
}