body {
  width:700px;
  overflow-x:hidden;
}

.favicon {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
}

.table td{
  font-size: 11px;
}

#status {
  margin-bottom:2px;
}

legend {
  margin-bottom: 20px;
}

.narrowColumn {
  width: 20px;
}

#tabActive table {
  table-layout: fixed;
}

.countdownColumn {
  width: 60px;
}

#tabActive .tabTitle {
  font-weight: bolder;
}

.nav-tabs {
  float:left;
}

#pauseButton {
  float: right;
  margin-top: 10px;
  margin-right:15px;
  vertical-align: top;
}

#reviewButton {
  float: right;
  margin-top: 10px;
  margin-right:15px;
  vertical-align: top;
}

.tab-content {
  clear:both;
}

.lock-reason {
  color:#9ca097;
}

td.timeGroupRow {
  padding-left:40px;
}

td.faviconCol {
  text-align: center;
}