/**
 * The order of imports should follow that in Bootstrap's own [bootstrap.css][0] file.
 *
 * [0]: https://github.com/twbs/bootstrap/blob/v5.3.2/scss/bootstrap.scss
 */

$enable-negative-margins: true;
$font-size-base: 0.875rem;
$nav-link-transition: none; // Prevent flash of wrong bg-color while loading color theme
$toast-spacing: 0.5rem;

// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
