body {
  min-height: 300px;
  width: 700px;
}

.table td {
  font-size: 11px;
}

#status {
  margin-bottom: 2px;
}

#tabActive table {
  table-layout: fixed;
}

.countdownColumn {
  width: 60px;
}

.nav-buttons {
  margin: 7px;
}

.lock-reason {
  color: #9ca097;
}

.btn-remove {
  cursor: pointer;
  margin-top: 0;
}

td.timeGroupRow {
  padding-left: 35px;
}

.favicon {
  /* Vertically align in <td /> */
  vertical-align: sub;
}

.table .faviconCol {
  text-align: center;
  width: 21px;
}

/**
 * Re-reset for stylesheet added to Chrome extension popups
 */
table {
  font-size: 14px;
}
