body {
  min-height: 300px;
  width: 700px;
}

.container {
  /* Override any @media queries inside Bootstrap */
  width: auto !important;
}

/* Beat specificity of Bootstrap since this CSS file comes before CSS from JS. */
.table-th-unbordered thead th {
  border-top: none;
}

.favicon {
  height: 16px;
  width: 16px;
}

.tab-pane {
  padding-bottom: 20px;
  padding-top: 20px;
}

/**
 * Alert animations for ReactCSSTransitionGroup
 */

.alert-exit {
  opacity: 1;
}

.alert-exit.alert-exit-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.alert-sticky {
  position: fixed;
  left: 10px;
  top: 15px;
  right: 10px;
}

/**
 * Override Bootstrap responsive because Tab Wrangler is not a mobile UI.
 */

@media (min-width: 576px) {
  .form-inline .form-check {
    justify-content: flex-start;
  }
}
