body {
  min-height: 300px;
  width: 700px;
}

.table td {
  font-size: 11px;
}

#status {
  margin-bottom: 2px;
}

.nav-buttons {
  margin: 7px;
}

.btn-remove {
  cursor: pointer;
  margin-top: 0;
}

td.timeGroupRow {
  padding-left: 35px;
}

.favicon {
  height: 16px;
  /* Vertically align in <td /> */
  vertical-align: sub;
}

.table .narrowColumn {
  text-align: center;
  width: 20px;
}

.table .faviconCol {
  text-align: center;
  width: 21px;
}

.table .text-center {
  text-align: center;
}

/**
 * Re-reset for stylesheet added to Chrome extension popups
 */
table {
  font-size: 14px;
}

/**
 * Alert animations for ReactCSSTransitionGroup
 */

.alert-leave {
  opacity: 1;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

/**
 * Transitions for fading out LazyImage placeholders and fading in the images.
 */

.lazy-image-enter {
  opacity: 0.01;
}

.lazy-image-enter.lazy-image-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/**
 * Position the placeholder absolutely when starting to leave so the `<img>` is in the page flow to
 * maintain the height of the container and so this gray fades out on top of the `<img>`.
 */
.lazy-image-leave {
  margin-left: -16px;
  opacity: 1;
  position: absolute;
}

.lazy-image-leave.lazy-image-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}
