@import "../css/includes";

.corral-tab--control-bar {
  background: var(--bs-body-bg);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

/*
 * Table (the virtual one)
 */

.table {
  font-size: 0.75rem;
}

.table .faviconCol {
  text-align: center;
}

.table-hover .ReactVirtualized__Table__row:not(.table-warning):hover {
  background-color: rgba(var(--bs-emphasis-color-rgb), $table-hover-bg-factor);
}

.ReactVirtualized__Table__row {
  border-top: 1px solid var(--bs-table-border-color);
}

.ReactVirtualized__Table__row.table-warning {
  border-top-color: var(--bs-table-border-color);
}

.ReactVirtualized__Table__row:hover .faviconCol--hover-hidden,
.ReactVirtualized__Table__row .faviconCol--hover-shown {
  display: none !important;
}

.ReactVirtualized__Table__row:hover .faviconCol--hover-shown {
  display: inline-block !important;
}
