/*
 * Table (the virtual one)
 */

.table {
  font-size: 0.75rem;
}

.table .faviconCol {
  text-align: center;
}

.table-hover .ReactVirtualized__Table__row:not(.table-warning):hover {
  background-color: #f5f5f5;
}

.ReactVirtualized__Table__row {
  border-top: 1px solid #ddd;
}

.ReactVirtualized__Table__row.table-warning {
  border-top-color: #ffdf7e;
}

.ReactVirtualized__Table__row:hover .faviconCol--hover-hidden,
.ReactVirtualized__Table__row .faviconCol--hover-shown {
  display: none !important;
}

.ReactVirtualized__Table__row:hover .faviconCol--hover-shown {
  display: inline-block !important;
}
