.CorralTabRow-content {
  flex: 1;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 1px;
}

.CorralTabRow-content>a {
  text-decoration: none;
}

.ClosedTabRow--focused {
  box-shadow: inset 3px 0 0 var(--bs-primary), 0 0 6px 1px rgba(0, 0, 0, 0.2) !important;
  z-index: 1;
}

[data-bs-theme=dark] .ClosedTabRow--focused {
  box-shadow: inset 3px 0 0 var(--bs-primary), 0 0 6px 1px rgba(255, 255, 255, 0.2) !important;
}
