name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NODE_VERSION: 20.x

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{ env.NODE_VERSION }}
      - run: npm ci
      - run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{ env.NODE_VERSION }}
      - run: npm ci
      - run: npm run test
  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{ env.NODE_VERSION }}
      - run: npm ci
      - run: npm run build
        env:
          NODE_OPTIONS: "--openssl-legacy-provider"
      - uses: actions/upload-artifact@v4
        with:
          name: tabwrangler-builds
          path: dist/tabwrangler-*.zip
          if-no-files-found: error
